<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
            border-right: 1px solid #bbb;
        }

            li:last-child {
                border-right: none;
            }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover:not(.active) {
                    background-color: #111;
                }

        .active {
            background-color: #4CAF50;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>

    <ul>
        <li><a class="active" href="/Home/Index">WILDBERRIES</a></li>
        <li><a href="/Account/Register">Регистрация</a></li>
        <li><a href="/Account/Login">Войти</a></li>
        <li><a href="/Account/Logout">Выйти</a></li>
    </ul>
    @Html.Action("Summary", "Cart")
    @Html.Action("YouAccount", "Account")


   <div class="row panel">
       <div id="categories" class="col-xs-3">
           @Html.Action("Menu", "Nav")
       </div>
          <div class="col-xs-8">
               @RenderBody()
           </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
